VITE_API_URL=/api
CLIENT_URL=https://joindrive.vercel.app
MONGODB_URI=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://joindrive.vercel.app/api/auth/google/callback
GOOGLE_CONNECT_REDIRECT_URI=https://joindrive.vercel.app/api/auth/google/connect/callback
JWT_SECRET=
