:root {
  --bg-app: #1b1b1b;
  --bg-sidebar: #1f1f1f;
  --bg-toolbar: #202020;
  --bg-card: #252525;
  --bg-hover: #303030;

  --border: #3a3a3a;

  --primary: #0e639c;
  --primary-hover: #1177bb;

  --text-primary: #ffffff;
  --text-secondary: #a1a1aa;

  --success: #22c55e;
  --danger: #ef4444;
}